tr td,
tr th {
    border: 1px solid gray;
    text-align: center;
}

table {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

table th {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

tr td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

tr .btn-home a:hover {
    /* text-align: left; */
    /* text-decoration: none; */
    color: black;
}

tr a:hover {
    color: #dc3545;
}